{% extends 'Base.twig' %}

{% block content %}
    <h1 class="text-4xl font-bold text-center pb-3">Les événement</h1>
        <ul class="text-center">
            {% for event in events %}
                <li class="block px-4 py-2 rounded-md text-gray-700 hover:bg-gray-100 hover:text-blue-500">
                    <p>{{ event.titre }}</p>
                    <p>catégorie : {{ categories[event.categorie_id-1].libelle }}</p>
                    <p>date début : {{ event.date_debut|date("d/m/Y") }}</p>
                    {% if event.getAttribute('date_fin') %}
                        <p>date fin : {{ event.getAttribute('date_fin')|date("d/m/Y") }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}